
survey-data.csv
code/anon-survey-data.R

.Rproj.user
.Rhistory
.RData
.Ruserdata
*~
**/*~
old-scripts/*
figs
submission1
**/*.rds
**/*.tex
**/*.aux
**/*.png
**/*.svg
**/*.log
**/*.snm
**/*.el
**/*.toc
**/*.nav
**/*.out