
survey-data.csv
code/anon-survey-data.R
figs
submission*
bootstrap-results
old-stat-explore
old-scripts-etc
examples/figs
examples/*.md

.Rproj.user
.Rhistory
.RData
.Ruserdata
**/*.html
*~
**/*~
**/*.rds
**/*.tex
**/*.aux
**/*.svg
**/*.log
**/*.snm
**/*.el
**/*.toc
**/*.nav
**/*.out