submission1/
figs/

.Rproj.user
.Rhistory
.RData
.Ruserdata
*~
**/*~
old-scripts/*
**/*.rds
**/*.tex
**/*.aux
**/*.pdf
**/*.png
**/*.svg
**/*.log
**/*.snm
**/*.el
**/*.toc
**/*.nav
**/*.out